// CLASSES

.hide {
  display: none !important;
}
.no-scroll {
  overflow-y: hidden;
}
.show {
  top: 0 !important;
}
.primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: $font-main;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  border-radius: 21px;
  background: $accent;
  border: 1px solid $accent;
  @include transition;
  &:hover {
    color: $accent;
    background-color: transparent;
  }
  @media (max-width: 991px) {
    font-size: 13px;
    font-weight: 600;
  }
}
.outline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $text;
  font-family: $font-main;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  border-radius: 21px;
  background: transparent;
  border: 1px solid $accent;
  @include transition;
  &:hover {
    color: $white;
    background-color: $accent;
  }
  @media (max-width: 991px) {
    font-size: 13px;
    font-weight: 600;
  }
}
.tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $text;
  font-family: $font-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 20px;
  border-radius: 12px;
  border: 1px solid $grey;
  white-space: nowrap;
  @include transition;
  &:hover {
    border-radius: 12px;
    color: $white;
    background: $accent;
    border-color: $accent;
  }
  &.active {
    border-radius: 12px;
    color: $white;
    background: $accent;
    border-color: $accent;
  }
  @media (max-width: 991px) {
    padding: 10px 17px;
  }
}
