// Кольори
$white: #fff;
$bg: #f9fafa;
$accent: #2276f6;
$text: #090911;
$textLight: #2f333c;
$grey: #8b8b9c;
$inputBg: #f1f1f1;

// Шрифти
$font-main: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
