.faq-wrap {
  margin: 63px 0 55px 0;
  @media (max-width: 991px) {
    margin: 60px 0 75px 0;
  }
}
.faq {
  @include flex(column, center, center);
  h2 {
    width: fit-content;
    text-align: center;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba($color: #8b8b9c, $alpha: 0.1);
    margin-bottom: 32px;
    @media (max-width: 991px) {
      padding-bottom: 0;
      border: none;
      margin-bottom: 36px;
    }
  }
  &__list {
    @include flex(column, flex-start, flex-start);
    gap: 32px;
    list-style-type: decimal;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 18px;
    @media (max-width: 991px) {
      gap: 25px;
    }
  }
  &__item {
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid #f1f1f1;
    @media (max-width: 991px) {
      padding-bottom: 25px;
    }
    &-top {
      @include flex(row, space-between, center);
      cursor: pointer;
      h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        @media (max-width: 480px) {
          width: 250px;
        }
      }
      button {
        @include flex(row, center, center);
      }
    }
    &-body {
      max-height: 0;
      overflow: hidden;
      @include transition;
      p {
        margin-top: 24px;
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-right: 100px;
        @media (max-width: 991px) {
          margin-top: 12px;
          padding-right: 20px;
        }
      }
    }
  }
}
