.header {
  @include flex(row, space-between, center);
  gap: 10px;
  @media (max-width: 991px) {
    padding: 17px 0 33px 0;
  }
  &__logo-wrap {
    @include flex(row, center, center);
    gap: 14px;
  }
  &__logo {
    position: relative;
    z-index: 10;
    width: 87px;
    height: 52px;
    @media (max-width: 1200px) {
      width: 64px;
      height: 38px;
    }
  }
  &__burger {
    display: none;
    @media (max-width: 991px) {
      @include flex(row, center, center);
    }
  }
  &__nav {
    @include flex(row, center, center);
    gap: 26px;
    @media (max-width: 1200px) {
      gap: 15px;
    }
    @media (max-width: 991px) {
      @include flex(column, center, center);
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 40px 20px;
      background-color: $white;
      border-bottom: 1px solid $grey;
      @include transition;
      z-index: 9;
    }
  }
  &__nav-close {
    display: none;
    @media (max-width: 991px) {
      @include flex(row, center, center);
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  &__nav-item {
    display: inline-flex;
    padding: 41px 0 42px 0;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    @include transition;
    @media (max-width: 1200px) {
      padding: 21px 0 22px 0;
    }
    @media (max-width: 991px) {
      padding: 0;
    }
    &:hover {
      border-color: $accent;
    }
  }
  &__nav-item.active {
    border-color: $accent;
  }
  &__num {
    @include flex(row, center, center);
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    img {
      width: 24px;
      height: 24px;
      @media (max-width: 991px) {
        width: 20px;
        height: 20px;
      }
    }
    @media (max-width: 1200px) {
      font-size: 14px;
    }
    @media (max-width: 991px) {
      font-size: 11px;
      font-weight: 600;
    }
  }
  &__social {
    @include flex(row, center, center);
    gap: 10px;
    @media (max-width: 480px) {
      display: none;
    }
  }
  &__social-icon {
    @include flex(row, center, center);
    width: 45px;
    height: 45px;
    border-radius: 9px;
    background: rgba(43, 172, 238, 0.2);
    @media (max-width: 1200px) {
      width: 38px;
      height: 38px;
    }
    @media (max-width: 991px) {
      width: 30px;
      height: 30px;
    }
    img {
      @include transition;
      @media (max-width: 991px) {
        width: 18px;
        height: 18px;
      }
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}
