.hero-wrap {
  position: relative;
  border-radius: 31px;
  background: $bg;
  margin: 0 50px;
  padding: 130px 0;
  overflow: hidden;
  @media (max-width: 1200px) {
    margin: 0 10px;
  }
  @media (max-width: 991px) {
    padding: 45px 0 347px 0;
  }
  @media (max-width: 480px) {
    padding: 45px 0 300px 0;
  }
}
.hero-wrap-img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50vw;
  @media (max-width: 991px) {
    max-width: 100%;
  }
}
.hero {
  position: relative;
  z-index: 2;
  h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
  h1 > span {
    display: block;
    color: $accent;
  }
  h1 > img {
    animation: spin 2s linear infinite;
  }
  p {
    color: $textLight;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }
  a {
    padding: 21px 32px 23px 32px;
    gap: 5px;
    @media (max-width: 991px) {
      padding: 18px 29px 22px 29px;
    }
    svg {
      fill: $white;
      @include transition;
    }
    &:hover {
      svg {
        fill: $accent;
      }
    }
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
